
/* navbar */

nav{
	box-shadow: 0px -27px 13px -25px rgb(0 0 0 / 75%);
}

/* fin navbar */

/* Home */

.fondo {
	background: url(/images/app.png?538bc17b371f87f610e5f854a1f6cc1c);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #fff;
	height: 100vh;
}

.circulo{
	background:#fff;
   border-radius:50px;
   cursor: pointer;
}

.circulo.activo{
   height:15px;
   width:15px; 
	box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.39);
}

.circulo.noactivo{
	height:15px;
   width:15px;
}

.titulo{
	font-size: 30px;
	font-weight: bold;
}

@media (min-width: 768px)
{
	#bloque-texto {
   	max-width: 720px;
   	margin: auto;
	}

	.row.bloquetexto
	{
		height: 80vh;
	}
}

@media (min-width: 992px)
{
	#bloque-texto {
   	max-width: 1140px;
   	margin: auto;
	}
	 .fondo {
		background: url(/images/ordena.png?95ec3b580822688b5d33dd54ec6b1822);
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-attachment: fixed !important;
		background-size: cover !important;
		background-color: #fff !important;
		height: 100vh !important;
	}
}

@media (min-width: 1200px)
{
	#bloque-texto {
   	max-width: 960px;
   	margin: auto;
	}	
}

/* FIN HOME */

/* OBJETIVOS */

.fondo-objetivos{
	background-color: #F6EB8A;
	height: 100vh;
}

.bloque-texto-objetivos {
    overflow: auto;
    max-height: 60vh;
}

.overflow-texto {
	overflow: auto;
}

/* FIN OBJETIVOS */


/* CONTACTA */

.fondo-contacta{
	background-color: #F6C9A6;
	height: 100vh;
}

/* FIN CONTACTA */


/* LOGIN */
.fondo-login{
	background-color: #B2D55B;
	height: 100vh;
}
.form-login
{
	height: 100vh;
}
/* FIN LOGIN */


.logo-principal{
	width: 100%;
}

@media (min-width: 768px)
{
	.logo-principal{
		width: 50%;
	}
}

