/* Constantes */
/* Colores */
.color-green {
	background-color: #B2D55B;
}

.color-yellow {
	background-color: #F6EB8A;
}

.color-coral {
	background-color: #F6C9A6;
}

.color-blue {
	background-color: #465474;
}

.color-grisclaro {
	background-color: #F9F9F9;
}

.color-logout {
	background-color: #EAEAEA;
}

.text-white{
	color: #fff;
}

.text-black {
	color: #000;
}

.text-blue {
	color: #465474;
}

.text-green {
	color: #B2D55B !important;
}

.text-grey {
	color: #DADDE3 !important;
}
.text-coral {
	color: #F6C9A6 !important;
}
.text-cyan {
	color: #8ECECC !important;
}
/* FIN Colores */

/* BOTONES */

/* FIN BOTONES */

.newbuttons {
	border-radius: 15px;
	-webkit-box-shadow: 12px 13px 25px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 12px 13px 25px -15px rgba(0,0,0,0.75);
	box-shadow: 12px 13px 25px -15px rgba(0,0,0,0.75);
	text-decoration: none !important;
}

/* FIN Constantes */

.estandar-imagenes {
	height: 190px;
}

.estandar-iconos {
	height: 37px;
}


@media (min-width: 768px)
{
	.estandar-imagenes {
		height: 100%;
	}
}


@media (min-width: 576px)
{
	.modal-dialog.especialdesk{
		min-width: 100%;
	}
}

.cursor-pointer{
	cursor: pointer;
}

.text-decoration-none {
	text-decoration: none;
}