.bloque-final {
	margin-bottom: 100px;
}

/* ESTILOS DIARIO DE ACTIVIDAD */
.titulos-encuesta{
	font-size: 20px;
	font-weight: 500;
}

.answer-radio-checked {
  border: 2px solid green !important;
}

.label-img {
	max-width: 100px;
}

.btn-adhesion {
	border: 2px solid transparent;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.56); 
	box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.56);
}

.btn-esfuerzo {
	cursor: pointer;
}

@media (min-width: 576px)
{
	.modal-dialog {
    	max-width: initial;
	}
}

/* FIN ESTILOS DIARIO DE ACTIVIDAD */


/* ESTILOS CALENDARIO DE CITAS */
.dia-cita{
	border-radius: 10px;
}
/* FIN ESTILOS CALENDARIO DE CITAS */