.cabecera-principal {
	background: url('../img/ordena.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	height: 23vh;
}

.logo-homeprincipal{
	width: 200px;
}

@media (min-width: 768px)
{
	.logo-homeprincipal{
		width: 250px;
	}
}

.text-bloques{
	font-size: 15px;
}

.text-icons{
	font-size: 25px;
}

.last-item{
	margin-bottom: 80px;
}

.botones-principal {
	cursor: pointer;
}

/* POPUPS */
.modal {
	overflow: hidden !important;
}

.modal-dialog {
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	height: 100vh;
}
.modal-content {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	height: 90vh;
	position: absolute;
	bottom: 0;
}

.modal-body {
	overflow: auto;
}

.seccion-activo-yellow{
	background-color: #F6EB8A;
	margin-top: 3px;
    height: 2px;
}

.seccion-activo-green{
	background-color: #B2D55B;
	margin-top: 3px;
    height: 2px;
}

.estilo-imagenes {
	border-radius: 37px;
	-webkit-box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.56); 
	box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.56);
}

.estilo-imagenes-noshadow{
	border-radius: 37px;
}

.titulos-popups {
	font-size: 25px;
	font-weight: bold;
}

.contenido-popups {
	font-size: 15px;
	font-weight: lighter;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0,45%);
    transform: translate(0,45%);
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

/* Carrusel */
.carousel-indicators-puntos{
	bottom: 10px;
    background-color: white;
    width: 99%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.fixed-ol
{
	bottom: 5rem !important;
}
/*
.active{
	-webkit-box-shadow: 0px 0px 0px 8px rgb(0 0 0 / 39%);
	box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.39);
	border-radius: 50%; 
	height:15px;
   	width:15px;
}

.carousel-indicators li {
	background-color: black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin-left: 16px;

}
*/

.carousel-indicators .active{
	background-color: black !important;
	border-radius: 50%; 
	-webkit-box-shadow: 0px 0px 0px 8px rgb(0 0 0 / 39%);
	box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.39);
}

.carousel-indicators li {
	background-color: black;
	border-radius: 50%; 
	height: 15px; 
	width: 15px;
	cursor: pointer;
	margin-left: 16px;
}

.bg-carrusel
{
	background-color: transparent !important;
}

/*
.secciones-carrusel {
	overflow: auto;
	height: 37vh;
}
*/

.img-calentamiento
{
	max-width: 550px;
}

.newbuttons.popups{
	-webkit-box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.56); 
	box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.56);
	margin-left: 5px;
    margin-right: 5px;
}

/* PLANIFICACIÓN MENSUAL*/

.dias-semana {
	justify-content: space-between;
}

.meses-activo {
	text-decoration: underline 3px #B2D55B;
}

.contenido-bloques-semana {
	font-weight: 400;
	font-size: 12px;
}

.titulos-bloques-semana {
	font-weight: 500;
}

.explicacion {
	background-color: #F9F9F9;
	border: 3px solid #465474;
	text-align: center;
}

/* FIN PLANIFICACIÓN MENSUAL*/



/* EJERCICIOS AEROBICOS */

.newbuttons.mesesaerobico{
	border-radius: 10px;
	-webkit-box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.56); 
	box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.56);
}

.color-cyan {
	background-color: #8ECECC;
}

.color-grey {
	background-color: #B9B9B9;
}

/* FIN EJERCICIOS AEROBICOS */

/* FIN POPUPS */


/* Calendario de Citas HOME */
.fechas-calendario-citas {
	font-size: 2rem;
}

.separador-citas {
	border-right: 2px solid #DADDE3;
}
/* FIN Calendario de Citas HOME */


/* Notificaciones */

.notificacion {
	background-color: #B2D55B;
    font-size: 1rem;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    left: -8px;
    position: relative;
    bottom: 13px;
}

/* Fin Noticaciones */

.carousel-control-next, .carousel-control-prev {
	top: 100px;
	align-items: initial;
}

@media (min-width: 768px)
{
	.carousel-control-next, .carousel-control-prev {
		display: none !important;
	}
}