<template>
  <div>
    <h2 class="text-blue">Mensaje de difusión</h2>
    <p class="mb-0 contenido-popups text-blue pt-1 pb-3">
      Envía un mensaje que llegará a cada chat con los pacientes
    </p>
    <div class="row">
      <div class="col-12 py-2">
        <textarea
          class="form-control"
          placeholder="Escribe tu mensaje aqui..."
          v-model="message"
          autofocus
        ></textarea>
      </div>
      <div class="col-12 py-2 text-center">
        <button
          class="btn newbuttons py-2 border-0 color-blue text-white"
          id="btn-chat"
          @click.prevent="broadcastMessage()"
        >
          Enviar mensaje
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: Object,
  },
  data() {
    return {
      message: "",
    };
  },
  created() {},
  mounted() {},
  methods: {
    broadcastMessage() {
      axios
        .post("/broadcastMessage", {
          message: this.message,
        })
        .then((response) => {
          this.message = "";
          response;
        });
    },
  },
};
</script>

<style>
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel {
  overflow-y: scroll;
  height: 350px;
  flex-direction: column-reverse;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}
</style>