<template>
  <div class="panel panel-default py-5">
    <div class="panel-body">
      <h2 class="text-blue">Crea un nuevo chat</h2>
      <p class="mb-0 contenido-popups text-blue pt-1 pb-3">
        Selecciona con quien quieres iniciar una conversación
      </p>
      <form>
        <div class="form-group">
          <div class="newbuttons w-100 color-blue px-2 py-3">
            <select
              class="w-100 bg-transparent border-0"
              v-model="users"
              multiple
              id="friends"
            >
              <option
                v-for="user in initialUsers"
                :key="user.codigo"
                :value="user"
                class="text-white py-2"
              >
                {{ user.codigo }}
              </option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer text-center">
      <button
        type="submit"
        @click.prevent="createGroup"
        class="btn newbuttons py-2 border-0 color-blue text-white"
      >
        Iniciar chat
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["initialUsers", "user"],
  data() {
    return {
      name: "",
      users: [],
      users_id: [],
    };
  },
  methods: {
    createGroup() {
      this.users.forEach((u, index) => {
        if (index === 0) {
          this.name += u.codigo;
        } else {
          this.name += ", " + u.codigo;
        }
        this.users_id.push(u.id);
      });
      this.name += " y " + this.user.codigo;
      axios
        .post("/groups", { name: this.name, users: this.users_id })
        .then((response) => {
          this.name = "";
          this.users = [];
          Bus.$emit("groupCreated", response.data);
        });
    },
  },
};
</script>
