<template>
  <div>
    <group-chat
      v-for="group in groups"
      :group="group"
      :user="user"
      :notifications="initialNotifications"
      :key="group.id"
    ></group-chat>
  </div>
</template>

<script>
export default {
  props: ["initialGroups", "user", "initialNotifications"],
  data() {
    return {
      groups: [],
    };
  },
  mounted() {
    this.groups = this.initialGroups;
    Bus.$on("groupCreated", (group) => {
      this.groups.push(group);
    });
    this.listenForNewGroups();
  },
  methods: {
    listenForNewGroups() {
      Echo.private("users." + this.user.id).listen("GroupCreated", (e) => {
        this.groups.push(e.group);
      });
    },
  },
};
</script>