<template>
  <div>
    <div class="panel panel-primary">
      <div class="panel-heading py-3" id="accordion">
        <a
          role="button"
          class="btn newbuttons py-2 border-0 color-yellow text-blue"
          data-toggle="collapse"
          aria-expanded="false"
          aria-controls="collapse"
          :href="'#collapseOne-' + group.id"
          @click="removeNotifications"
          ><span
            class="bg-danger text-white text-center p-1 rounded-circle"
            v-if="notificationCount > 0"
            >{{ notificationCount }}</span
          >
          Chat: {{ group.name }}
        </a>
        <div v-for="group_user in group_users" :key="group_user.id">
          <div
            v-if="
              user.id != group_user.id &&
              user.role_id != 2 &&
              group_user.role_id == 2
            "
            class="d-flex p-3"
          >
            El usuario {{ group_user.codigo }} tiene el programa
            <p class="ml-1 mb-0" :class="'bloqueconv-' + group_user.id"></p>
            <select
              class="form-select ml-1"
              aria-label="programa usuario"
              @change="cambioPrograma($event, group_user.id, group_user.id)"
              v-if="group_user.programa_id == 0"
              :class="'conver-' + group_user.id"
            >
              <option value="0" :selected="group_user.programa_id == 0">
                0
              </option>
              <option value="1" :selected="group_user.programa_id == 1">
                1
              </option>
              <option value="2" :selected="group_user.programa_id == 2">
                2
              </option>
              <option value="3" :selected="group_user.programa_id == 3">
                3
              </option>
              <option value="4" :selected="group_user.programa_id == 4">
                4
              </option>
            </select>
            <div v-else>
              {{ group_user.programa_id }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="panel-collapse collapse color-yellow"
      :id="'collapseOne-' + group.id"
    >
      <div class="panel-body d-flex chat-panel">
        <ul class="chat">
          <li v-for="conversation in conversations" :key="conversation.id">
            <div
              class="chat-body m-3 clearfix p-3"
              style="width: 30%; border-radius: 10px"
              :class="
                user.id == conversation.user.id
                  ? 'text-right color-green ml-auto'
                  : 'text-left bg-white bg-primary'
              "
            >
              <div class="header">
                <strong class="primary-font">{{
                  conversation.user.codigo
                }}</strong>
              </div>
              <p>
                {{ conversation.message }}
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input
            :id="'btn-input' + group.id"
            type="text"
            class="form-control"
            placeholder="Escribe tu mensaje aqui..."
            v-model="message"
            @keyup.enter="store()"
            autofocus
          />
          <span class="input-group-btn">
            <button
              class="btn color-coral"
              id="btn-chat"
              @click.prevent="store()"
            >
              Enviar
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    group: Object,
    user: Object,
    notifications: Array,
  },
  data() {
    return {
      conversations: [],
      message: "",
      group_id: this.group.id,
      notificationCount: 0,
      group_users: [],
    };
  },
  created() {
    this.countNotifications();
  },
  mounted() {
    this.listenForNewMessage();
    this.loadConversations();
    this.loadgroupsUserIds();
  },
  methods: {
    loadConversations() {
      axios
        .post("/getConversation", {
          group_id: this.group.id,
        })
        .then((response) => {
          response.data.forEach((c) => {
            this.conversations.push(c);
          });
        });
    },

    loadgroupsUserIds() {
      axios
        .post("/getGroupUserIds", {
          group_id: this.group.id,
          user_id: this.user.id,
        })
        .then((response) => {
          response.data.forEach((c) => {
            this.group_users.push(c);
          });
        });
    },

    store() {
      axios
        .post("/conversations", {
          message: this.message,
          group_id: this.group.id,
        })
        .then((response) => {
          this.message = "";
          this.conversations.push(response.data);
        });
    },
    listenForNewMessage() {
      Echo.private("groups." + this.group.id).listen("NewMessage", (e) => {
        this.conversations.push(e);
      });
    },

    countNotifications() {
      this.notifications.forEach((notification) => {
        if (notification.group_id == this.group.id) {
          this.notificationCount++;
        }
      });
    },

    removeNotifications() {
      if (this.notificationCount > 0) {
        axios
          .post("/removeNotifications", {
            group_id: this.group.id,
            user_id: this.user.id,
          })
          .then((response) => {
            //Descontamos la notificaciones totales
            let element = document.getElementById("contador-notificaciones");
            let count = parseInt(element.innerHTML) - this.notificationCount;
            if (count > 0) {
              element.innerHTML = count;
            } else {
              element.remove();
            }

            //Eliminamos las notificaciontes del chat
            this.notificationCount = 0;
          });
      }
    },

    cambioPrograma(event, user_id, conversation) {
      axios
        .post("/cambiarProgramaUsuario", {
          user_id: user_id,
          programa: event.target.value,
        })
        .then((response) => {
          if (response.data[0]) {
            swal("Confirmado", response.data[1], "success");
            $(".conver-" + conversation).remove();
            $(".bloqueconv-" + conversation).text(response.data[2]);
          } else {
            swal("Error", response.data[1], "error");
          }
        });
    },
  },
};
</script>

<style>
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel {
  overflow-y: scroll;
  height: 350px;
  flex-direction: column-reverse;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}
</style>